@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

/*RESET STYLES*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 62.5%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
button{cursor: pointer; outline: none;}
/*------------------------------------------------*/
/*------------------------------------------------*/
body{
	background-color: #F2CED5;
}
main{
	margin: auto;
	position: relative;
	padding-top: 150px;
}

#menu, #menu::after, #menu::before{
	position: absolute;
    border: solid 1px #000;  
}

#menu{
	top: 5%;
	left: 0;
	right: 6%;
	width: 8px;
	height: 30px;
	margin: auto;
	background-color: #c0c0c0;
	transform: skewY(0deg);
	border-radius: 20px 20px 0 0;
}

#menu::after{
	content: "";
	bottom: -22px;
    right: -23px;
    width: 100%;
    height: 20px;
    background-color: #c0c0c0;
    transform-origin: bottom;
    transform: skewX(45deg);
	border-radius: 0 0 20px 20px;
}

#menu::before{
	content: "";
	top: 130%;
	right: clamp(-150px, -15vw, -92px);
	z-index: 2;
	width: clamp(180px, 23vw, 250px);
	height: 300px;
	border-radius: 45%;
}


#quote-box, #quote-box::before, #quote-box::after{
	background-color: #F2E0C9;
	border: solid 1px #000;
}

#quote-box{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	width: clamp(250px, 20vw + 23vh, 550px);
	height: clamp(300px, 23vw + 23vh, 530px);
	padding: 15px;
	margin: auto;
	color:#FFF;
	font-family: 'Signika Negative', sans-serif;
	font-size: clamp(1.6rem, 1.2rem + 1vw, 3.2rem);
}

#quote-box::before{
	content: "";
	position: absolute;
	top: 0;
	left: clamp(-32px, -3vw, -12px);
	width: clamp(10px, 3vw, 30px);
	height: 100%;
	transform-origin: right;
	transform: skewY(45deg);
}

#quote-box::after{
	content: "";
	position: absolute;
	top: clamp(-32px, -3vw, -12px);
	left: 0;
	width: 100%;
	height: clamp(10px, 3vw, 30px);
	transform-origin: bottom;
	transform: skewX(45deg);	
}
#quote-box, #menu::before{
	animation: balance 2s ease-in-out;
}



#quote{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3%;	
	width: 94%;
	height: 97%;
	background-color: #212226;
}
#text, #author{
	position: relative;
	overflow: hidden;
}

#text{
	text-align: center;	
	font-size: clamp(1.6rem, 1.2rem + 1vw, 3.2rem);
}

#author{
	text-align: right;
	padding: 20px 0 0 0;
	font-size: clamp(1.4rem, 1rem + 1vw, 2.2rem);
}
.run-animation{
	animation: fadeIn 2s;
}



#buttons{
	position: absolute;
    bottom: 2%;
    left: 10%;
    margin: 20px auto;
    gap: 3%;    
}

#tweet-quote, #new-quote{
	position: relative;
	pointer-events: none;
	opacity: 0;
    transition: opacity .7s;
	text-decoration: none; 
}	

#tweet-quote.visible, #new-quote.visible{
	pointer-events: auto;
	opacity: 1;
}	

#new-quote{
	background: transparent;
	border:none;
}

.bi{
	font-size: 4.5rem;
	color: #FFF;
}

#new-quote:hover span, #tweet-quote:hover span {
	visibility: visible;
	opacity: 1;
} 


.toolTip{
    position: absolute;
    left: -20px;
    right: -20px;
    bottom: clamp(60px, 6.5vw, 56px);    
    padding: 8px;
    text-align: center;
    background: #000;
    color: #FFF;
	font-family: sans-serif;    
    font-size: clamp(1.4rem, .6rem + 1vw, 1.6rem);
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease;
}

.toolTip::before{
	content: "";
	position: absolute;
	bottom: -7px;
	left: calc(50% - 7px);				
	border-top: 7px solid #000;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;

}

@keyframes balance {
	0% {transform: rotate(15deg);}
	35% {transform: rotate(-15deg);}
	70% {transform: rotate(15deg);}
	100% {transform: rotate(0deg);}
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
